Options All -indexes
Options +FollowSymLinks
RewriteEngine On

RewriteRule   ^inicio$                              index.html
RewriteRule   ^pam$                                 pam.html
RewriteRule   ^enfabebe$                              enfabebe.html
RewriteRule   ^dalton$                              dalton.html
RewriteRule   ^scalperstudio$                              scalperstudio.html
RewriteRule   ^soad$                              soad.html
RewriteRule   ^siapco$                              siapco.html
RewriteRule   ^GpsAnywhere$                              GpsAnywhere.html